# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

J2DEngine/\.vs/Engine/v14/\.suo

J2DEngine/\.vs/Engine/v15/\.suo

J2DEngine/\.vs/Engine/v15/Browse\.VC\.db

J2DEngine/\.vs/Engine/v15/Browse\.VC\.opendb

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/13de19ffcc5d32e5/MAIN\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/198e34c649e733fe/DIRECTXFRAMEWORK\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/3aaf4847e3b269c8/NETMESSAGEPING\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/3e3443a7972e1dcc/NETMESSAGE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/414c9a2bfbf21793/COMMONNETWORKINCLUDES\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/47c9a60e7d16662b/NETMESSAGEPING\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/4cd575a6221e1b2a/SERVER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/4fa036ceb4fbaec0/NETMESSAGEMANAGER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/50c5c2ebc9037d16/NETMESSAGECHAT\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/5421c1cfa3007222/TIME\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/5458f7854c94eb99/CLIENTMAIN\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/54fe88e60fac505/NETMESSAGECHAT\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/5c49622a5717662e/SPRITE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/64c6f3ce4c789e58/DDSTEXTURELOADER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/6c1789ee343deebb/NETMESSAGE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/6e60487d0670c3b5/NETMESSAGECONNECT\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/7954ff601a2f9226/CLIENT\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/7e20228d8f387cb/NETMESSAGE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/8fccca63c3ed3eaf/SMALLSTRING\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/9be3178f33c423c3/NETMESSAGES\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/9c398cc61d10a93a/MAIN\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/9eb6ecc18b68bacb/NETMESSAGEMANAGER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/a50ddfc3dcf97bb8/COMMONNETWORKINCLUDES\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/a5eef4aca3ada77/COMMONNETWORKINCLUDES\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/a88e147931608537/NETMESSAGEMANAGER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/a9acec31af875df9/SERVER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/b2bc7c1dc63675bf/CONNECTIONBASE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/bb62033a3832a6dc/SERIALIZEHELPER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/cb6598568e391818/NETMESSAGEMANAGER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/cca7b28d70d10545/CLIENT\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/ce93095d8de58e64/NETMESSAGEMANAGER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/d7e336c21d3c3279/NETMESSAGEFUEL\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/d8ee1d118168f51b/GAME\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/ea599ebfe82af008/NETMESSAGE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/ee758d364ea594c/CONNECTIONBASE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/f5a1c22453a28e0/BASE\.ipch

J2DEngine/\.vs/Engine/v15/Solution\.VC\.db

J2DEngine/\.vs/Engine/v15/Solution\.VC\.db-shm

J2DEngine/\.vs/Engine/v15/Solution\.VC\.db-wal

J2DEngine/Bin/Engine\.pdb

J2DEngine/Bin/Game\.pdb

J2DEngine/Bin/Launcher\.ilk

J2DEngine/Bin/Launcher\.pdb

J2DEngine/Engine\.VC\.db

J2DEngine/Engine/Bin/Engine\.pdb

J2DEngine/Engine/Engine\.aps

J2DEngine/Engine/Engine\.vcxproj\.user

J2DEngine/Engine/x64/Debug/Engine\.Build\.CppClean\.log

J2DEngine/Engine/x64/Debug/Engine\.idb

J2DEngine/Engine/x64/Debug/Engine\.log

J2DEngine/Engine/x64/Debug/Engine\.pdb

J2DEngine/Engine/x64/Debug/Engine\.tlog/CL\.command\.1\.tlog

J2DEngine/Engine/x64/Debug/Engine\.tlog/CL\.read\.1\.tlog

J2DEngine/Engine/x64/Debug/Engine\.tlog/CL\.write\.1\.tlog

J2DEngine/Engine/x64/Debug/Engine\.tlog/Engine\.lastbuildstate

J2DEngine/Engine/x64/Debug/Engine\.tlog/Engine\.write\.1u\.tlog

J2DEngine/Engine/x64/Debug/Engine\.tlog/FXC\.command\.1\.tlog

J2DEngine/Engine/x64/Debug/Engine\.tlog/fxc\.read\.1\.tlog

J2DEngine/Engine/x64/Debug/Engine\.tlog/fxc\.write\.1\.tlog

J2DEngine/Engine/x64/Debug/Engine\.tlog/Lib-link\.read\.1\.tlog

J2DEngine/Engine/x64/Debug/Engine\.tlog/Lib-link\.write\.1\.tlog

J2DEngine/Engine/x64/Debug/Engine\.tlog/lib\.command\.1\.tlog

J2DEngine/Game/Game\.vcxproj\.user

J2DEngine/Game/x64/Debug/Game\.Build\.CppClean\.log

J2DEngine/Game/x64/Debug/Game\.idb

J2DEngine/Game/x64/Debug/Game\.log

J2DEngine/Game/x64/Debug/Game\.pdb

J2DEngine/Game/x64/Debug/Game\.tlog/CL\.command\.1\.tlog

J2DEngine/Game/x64/Debug/Game\.tlog/CL\.read\.1\.tlog

J2DEngine/Game/x64/Debug/Game\.tlog/CL\.write\.1\.tlog

J2DEngine/Game/x64/Debug/Game\.tlog/Game\.lastbuildstate

J2DEngine/Game/x64/Debug/Game\.tlog/Lib-link\.read\.1\.tlog

J2DEngine/Game/x64/Debug/Game\.tlog/Lib-link\.write\.1\.tlog

J2DEngine/Game/x64/Debug/Game\.tlog/lib\.command\.1\.tlog

J2DEngine/Game/x64/Debug/Game\.vcxprojResolveAssemblyReference\.cache

J2DEngine/Launcher/Launcher\.vcxproj\.user

J2DEngine/Launcher/x64/Debug/Launcher\.Build\.CppClean\.log

J2DEngine/Launcher/x64/Debug/Launcher\.log

J2DEngine/Launcher/x64/Debug/Launcher\.tlog/CL\.command\.1\.tlog

J2DEngine/Launcher/x64/Debug/Launcher\.tlog/CL\.read\.1\.tlog

J2DEngine/Launcher/x64/Debug/Launcher\.tlog/CL\.write\.1\.tlog

J2DEngine/Launcher/x64/Debug/Launcher\.tlog/Launcher\.lastbuildstate

J2DEngine/Launcher/x64/Debug/Launcher\.tlog/link\.command\.1\.tlog

J2DEngine/Launcher/x64/Debug/Launcher\.tlog/link\.read\.1\.tlog

J2DEngine/Launcher/x64/Debug/Launcher\.tlog/link\.write\.1\.tlog

J2DEngine/Launcher/x64/Debug/Launcher\.vcxprojResolveAssemblyReference\.cache

J2DEngine/Launcher/x64/Debug/vc140\.idb

J2DEngine/Launcher/x64/Debug/vc140\.pdb

J2DEngine/Launcher/x64/Debug/vc141\.idb

J2DEngine/Launcher/x64/Debug/vc141\.pdb

J2DEngine/Server/Server\.vcxproj\.user

J2DEngine/Server/x64/Debug/Server\.log

J2DEngine/Server/x64/Debug/Server\.tlog/CL\.command\.1\.tlog

J2DEngine/Server/x64/Debug/Server\.tlog/CL\.read\.1\.tlog

J2DEngine/Server/x64/Debug/Server\.tlog/CL\.write\.1\.tlog

J2DEngine/Server/x64/Debug/Server\.tlog/link\.command\.1\.tlog

J2DEngine/Server/x64/Debug/Server\.tlog/link\.read\.1\.tlog

J2DEngine/Server/x64/Debug/Server\.tlog/link\.write\.1\.tlog

J2DEngine/Server/x64/Debug/Server\.tlog/Server\.lastbuildstate

J2DEngine/Server/x64/Debug/vc141\.idb

J2DEngine/Server/x64/Debug/vc141\.pdb

J2DEngine/x64/Debug/Server\.ilk

J2DEngine/x64/Debug/Server\.pdb

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/1086e9b1ffa91995/PIPESPAWNER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/10c353b83b1f7c1b/GAME\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/13909e0df04ccd78/SPRITERENDERER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/192220e57c2b3560/BASE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/26c4f2d39945b4a3/TEXTURE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/2abb475aa6ffdad5/MAIN\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/2ccea608ec5af638/NETMESSAGEMANAGER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/31377d16b856b389/TIMEDEVENT\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/32b5ae931440a4ca/SERVER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/357e4ff2cb0fb4ee/PLAYER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/43d5ab34724aadcc/CONNECTIONBASE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/470fd7c5bcc2152d/SPRITE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/4cd1db84aa454faa/SERVER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/5120745abeae4c4b/NETMESSAGE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/541e27ae2b27a6a2/TIME\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/54253b6f4ed7da5/NETMESSAGECHAT\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/558501ce4c41a48a/TEXTURELOADER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/55eb95768762d202/CNETMESSAGEPOSITION\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/59a25ef8b390eefa/TIMEDEVENT\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/605d10bd657a9dd0/NETMESSAGEPLAYERDATA\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/720d04217146d91a/MAIN\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/7951653ea256c6a6/CLIENT\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/7a0bf03241000dec/CONNECTIONBASE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/7c2e6c2a4d7f40e9/NETMESSAGEPOSITION\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/7cb7f86f8a76baab/NETMESSAGEPING\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/7e1468e93b288511/SCENE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/8666c819b6a9399a/TIMEDEVENT\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/8e4874dbf2ae8f3b/GAME\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/91f385258dc797ce/PLAYER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/d23c967d7c3b825a/NETMESSAGEPOSITION\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/d718f2b21f0be870/NETMESSAGEPLAYERDATA\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/d7c497356d316a9a/MAIN\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/d95628b3865c47c6/CLIENT\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/eab28fee82423c7e/DIRECTXFRAMEWORK\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/f9bde9d12fb4ad7c/GRAPHICSENGINE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/fa067002bb39eee9/NETMESSAGE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/fbf47351686e898/NETMESSAGEMANAGER\.ipch

J2DEngine/Engine/x64/Release/Engine\.Build\.CppClean\.log

J2DEngine/Engine/x64/Release/Engine\.log

J2DEngine/Engine/x64/Release/Engine\.pdb

J2DEngine/Engine/x64/Release/Engine\.tlog/CL\.command\.1\.tlog

J2DEngine/Engine/x64/Release/Engine\.tlog/CL\.read\.1\.tlog

J2DEngine/Engine/x64/Release/Engine\.tlog/CL\.write\.1\.tlog

J2DEngine/Engine/x64/Release/Engine\.tlog/Engine\.lastbuildstate

J2DEngine/Engine/x64/Release/Engine\.tlog/fxc\.command\.1\.tlog

J2DEngine/Engine/x64/Release/Engine\.tlog/fxc\.read\.1\.tlog

J2DEngine/Engine/x64/Release/Engine\.tlog/fxc\.write\.1\.tlog

J2DEngine/Engine/x64/Release/Engine\.tlog/Lib-link\.read\.1\.tlog

J2DEngine/Engine/x64/Release/Engine\.tlog/Lib-link\.write\.1\.tlog

J2DEngine/Engine/x64/Release/Engine\.tlog/Lib\.command\.1\.tlog

J2DEngine/Game/x64/Release/Game\.Build\.CppClean\.log

J2DEngine/Game/x64/Release/Game\.log

J2DEngine/Game/x64/Release/Game\.pdb

J2DEngine/Game/x64/Release/Game\.tlog/CL\.command\.1\.tlog

J2DEngine/Game/x64/Release/Game\.tlog/CL\.read\.1\.tlog

J2DEngine/Game/x64/Release/Game\.tlog/CL\.write\.1\.tlog

J2DEngine/Game/x64/Release/Game\.tlog/Game\.lastbuildstate

J2DEngine/Game/x64/Release/Game\.tlog/Lib-link\.read\.1\.tlog

J2DEngine/Game/x64/Release/Game\.tlog/Lib-link\.write\.1\.tlog

J2DEngine/Game/x64/Release/Game\.tlog/Lib\.command\.1\.tlog

J2DEngine/Launcher/x64/Release/Launcher\.Build\.CppClean\.log

J2DEngine/Launcher/x64/Release/Launcher\.log

J2DEngine/Launcher/x64/Release/Launcher\.tlog/CL\.command\.1\.tlog

J2DEngine/Launcher/x64/Release/Launcher\.tlog/CL\.read\.1\.tlog

J2DEngine/Launcher/x64/Release/Launcher\.tlog/CL\.write\.1\.tlog

J2DEngine/Launcher/x64/Release/Launcher\.tlog/Launcher\.lastbuildstate

J2DEngine/Launcher/x64/Release/Launcher\.tlog/Launcher\.write\.1u\.tlog

J2DEngine/Launcher/x64/Release/Launcher\.tlog/link\.command\.1\.tlog

J2DEngine/Launcher/x64/Release/Launcher\.tlog/link\.read\.1\.tlog

J2DEngine/Launcher/x64/Release/Launcher\.tlog/link\.write\.1\.tlog

J2DEngine/Launcher/x64/Release/vc141\.pdb

J2DEngine/Server/x64/Debug/Server\.Build\.CppClean\.log

J2DEngine/Server/x64/Release/Server\.Build\.CppClean\.log

J2DEngine/Server/x64/Release/Server\.log

J2DEngine/Server/x64/Release/Server\.tlog/CL\.command\.1\.tlog

J2DEngine/Server/x64/Release/Server\.tlog/CL\.read\.1\.tlog

J2DEngine/Server/x64/Release/Server\.tlog/CL\.write\.1\.tlog

J2DEngine/Server/x64/Release/Server\.tlog/link\.command\.1\.tlog

J2DEngine/Server/x64/Release/Server\.tlog/link\.read\.1\.tlog

J2DEngine/Server/x64/Release/Server\.tlog/link\.write\.1\.tlog

J2DEngine/Server/x64/Release/Server\.tlog/Server\.lastbuildstate

J2DEngine/Server/x64/Release/Server\.tlog/Server\.write\.1u\.tlog

J2DEngine/Server/x64/Release/vc141\.pdb

J2DEngine/x64/Release/Server\.iobj

J2DEngine/x64/Release/Server\.ipdb

J2DEngine/x64/Release/Server\.pdb

J2DEngine/Bin/Launcher\.iobj

J2DEngine/Bin/Launcher\.ipdb

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/110ebb3d9faf752/RENDERER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/18d342c42b9f30f3/THORAX_TRUETYPE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/1da21f6bbd578003/RECTANGLECOLLIDER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/251c5c3746db8787/SPRITENUMBER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/2622d205b748bcb/CIRCLECOLLIDER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/34b58563b6192d07/SPRITEBATCHRENDERER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/370d936b1001be59/COLLISIONMANAGER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/60f408798a70f2d1/COLLIDER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/648e2f564792f868/CIRCLECOLLIDER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/685b839552f407a2/COLLIDER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/77ad362e0ca6f194/SPRITENUMBER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/7d02ecea43b992b1/SCENE\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/7e06cc732b665e1e/DIRECTXFRAMEWORK\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/8f80dd4cc8beb3a7/SPRITENUMBER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/90ef9d42970f2125/POINTCOLLIDER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/a66fc683c1553436/POINTCOLLIDER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/a6a91788a0446dc0/RECTANGLECOLLIDER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/be3b6f6206eaf44d/TRANSFORM\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/e502a007065fd275/PIPESPAWNER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/e66fb089f9e2c2d8/DDSTEXTURELOADER\.ipch

J2DEngine/\.vs/Engine/v15/ipch/AutoPCH/f0972fab9c7eefcd/SPRITE\.ipch
